<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= product.details %>
  </p>

  <p>
    <strong>Product type:</strong>
    <%= product.product_status %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

  <p>
    <strong>Additional Info:</strong><br>
    <%= product.additional_info.to_s.html_safe %>
  </p>

</div>
