<% content_for :title, @product.seo_title.presence || @product.title %>
<% content_for :meta_description, @product.meta_description.presence || @product.details.truncate(160) %>
<% content_for :meta_keywords, @product.seo_keywords.presence || "product, #{@product.title}" %>

<p style="color: green"><%= notice %></p>

<%= render @product %>


<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
